
.catalog {
    &-list-property {
        background: $color-ui;
        border-radius: $border-radius;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        color: $color-text-secondary;
        box-shadow: $shadows-primary;
    }
}



.catalog-sort {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 32px;

    &__item {
        font-size: 14px / 17px;
        font-weight: 400;
        cursor: pointer;
        user-select: none;
        text-align: center;
        padding: 24px 21px 23px;
        color: $color-text-primary;
        transition: color .4s;

        &.active {
            color: $color-primary;
        }
    }

    &__line-tube {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
    }

    &__line {
        position: absolute;
        bottom: 0;
        height: 100%;
        background-color: $color-primary;
        transition: width .4s, left .4s;
    }
}
