.checkout {
    @include media-breakpoint-down(lg) {
        margin-top: -48px;
        padding-top: 48px;
    }

    &__wrap {
        overflow: hidden;
        padding: 0 15px;
        margin: 0 -15px;
        transform: translate3d(0,0,0);
        transition: height .3s;

        &.animation-in-process {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__content {
        width: calc(200% + 60px);
        margin-left: -30px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        height: 100%;
        padding-left: 30px;
        transition: none;
    }

    &__steps {
        @include media-breakpoint-down(lg) {
            margin: -32px 0 -16px;
        }
    }
}

.checkout-step {
    &__title {
        margin-bottom: 16px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__controls-wrap {
        @include media-breakpoint-up(lg) {
            border-top: 1px solid $border-color;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 -16px;
        padding: 20px;

        @include media-breakpoint-up(lg) {
            margin-top: -20px;
            padding: 42px 40px;
        }
    }

    &__back,
    &__forward {
        padding: 20px 0 0 16px;
    }

    &__back {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

.checkout-steps-panel {
    padding: 30px 20px;

    @media (min-width: 768px) {
        padding: 20px 30px;
    }

    @media (min-width: 1200px) {
        padding: 20px 85px;
    }

    & .row {
        margin-right: -5px;
        margin-left: -5px;

        & > div {
            padding: 0 5px;
        }
    }
}

.checkout-steps-panel-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px / 17px;
    color: $color-text-secondary;
    padding: 12px 0;
}

.checkout-step-badge {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;

    &__icon {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-border;
        border-radius: 50%;
        color: $color-text-secondary-2;
        transition: all .3s;
        cursor: pointer;

        & svg {
            width: 24px;
            height: 24px;
            fill: currentColor;
        }
    }

    &.is-active &__icon {
        background-color: $color-primary;
        color: #fff;
        border-color: transparent;
    }

    &__info {
        padding-left: 24px;
        width: calc(100% - 64px);
    }

    &__name {
        color: $color-text-secondary;
        font-size: 12px / 14px;
    }

    &__title {
        margin-top: 9px;
        font-size: 14px / 17px;
        color: $color-text-primary;
    }
}
