// Стили для страницы продукта (карточки товара)
.product-page {
    &__actions {
        float: right;
        a {
            display: inline-block;
        }
    }
    &__price {
        display: inline-block;
        font-size: 24px;
        color: $color-text-primary;
    }
    &__oldprice {
        display: inline-block;
        margin-left: 8px;
        font-size: 20px;
        color: $color-text-secondary;
        text-decoration: line-through;
    }
    &__economy {
        font-size: 14px;
        color: $color-text-primary;
        margin-bottom: 15px;
    }
    &__stars {
        color: $color-text-secondary;
        padding: 10px 0 15px;
    }
    &__label {
        display: block;
        text-align: right;
        color: $color-text-primary;
        .uSocial-Share {
            display: inline-block !important;
            vertical-align: middle;
        }
    }
    &__sizes {
        margin-bottom: 32px;

        & > .row {
            overflow: hidden;

            @include media-breakpoint-up(sm) {
                margin-left: -16px;
                margin-right: -16px;
            }

            @include media-breakpoint-up(md) {
                margin: 0;
            }

            @include media-breakpoint-up(lg) {
                margin-left: -16px;
                margin-right: -16px;
            }
        }
    }

    &__size {
        margin: -1px 0 0 -1px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $color-border;
    }

    &__controls {
        margin-top: 24px;
    }

    &__params {
        margin-bottom: 16px;
    }

    &__param {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    &__socials {
        margin-top: 40px;
        position: absolute;
        left: -10000px;
        visibility: hidden;

        @include media-breakpoint-up(md) {
            position: static;
            visibility: visible;
        }
    }

    &__block {
        overflow: hidden;
    }

    &__info {
        @include media-breakpoint-down(sm) {
            padding: 0;
            overflow: visible;

            &.block-ui {
                background-color: transparent;
                box-shadow: none;
            }
        }
    }

    .nav-tabs {
        border-bottom: 1px solid $color-border;

        .nav-link {
            color: $color-text-secondary;
            background: none;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 2px solid transparent;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 25px;
            padding-right: 25px;
            transition: $transition-primary;
            &:hover {
                color: $color-primary;
                background: none;
            }
            &.active {
                border-bottom: 2px solid $color-primary;
                color: $color-primary;
            }
        }
    }

    &__left,
    &__right {
        padding: 16px;
    }

    &__left {
        padding-top: 32px;
    }

    &__right {
        padding-bottom: 32px;
    }

    @include media-breakpoint-up(lg) {
        &__left,
        &__right {
            padding: 32px 16px;
        }

        &__border {
            border-left: 1px solid $color-border;
        }
    }
}


.product-size {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &__icon {
        width: 16px;
        height: 16px;
        fill: $color-text-secondary;
    }

    &__value {
        margin-left: 8px;
        font-size: 14px / 17px;
        padding-top: 2px;
    }
}

.product-controls {
    &__attributes {
        margin-bottom: 34px;
    }

    &__buttons {
        margin-top: 16px;
        text-align: center;
    }

    &__button {
        max-width: 300px;

        &--num {
            padding: 0;
        }
    }

    &__num {
        margin-top: 16px;
    }
}

.product-param {
    padding: 5px 0 5px;
    color: $color-text-secondary;

    &__value {
        color: $color-text-primary;
        &:before {
            content: ', \a0';
            display: inline-block;
            color: $color-text-primary;
        }
        &:first-child {
            &:before {
                content: '\a0';
            }
        }
    }
}

.product-socials {
    &__label {
        margin-bottom: 12px;
        color: $color-text-secondary;
    }

    &__socials {
        margin: 0 -4px;
    }
}


.product-tabs {
    &__tabs {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &__pane {
        position: absolute;
        left: -99999px;
        top: -99999px;
        opacity: 0;
        transition: .3s;

        &.active {
            position: static;
        }

        &.show {
            opacity: 1;
        }

        @include media-breakpoint-down(sm) {
            position: static;
            opacity: 1 !important;

            &:not(:first-child) {
                margin-top: 16px;
            }
        }

        @include media-breakpoint-up(md) {
            &.block-ui {
                background-color: transparent;
                box-shadow: none;
            }
        }
    }
}

.product-tabs-pane {
    color: $color-text-primary;

    &__trigger {
        font-size: 20px / 32px;
        padding: 16px;
        position: relative;
        cursor: pointer;
        user-select: none;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__chevron {
        position: absolute;
        right: 16px;
        width: 24px;
        height: 24px;
        top: 50%;
        margin-top: -12px;
        fill: $color-text-secondary;
        transition: transform .3s;
    }

    &__trigger.is-active &__chevron {
        transform-origin: 50% 50%;
        transform: rotate(180deg);
    }

    &__content {
        margin: 0;

        @include media-breakpoint-up(md) {
            transition: none;
            max-height: none !important;
        }

        @include media-breakpoint-up(md) {
            min-height: 400px;
        }
    }

    &__inner {
        margin: 0;
        padding: 8px 16px 32px;
        background-color: transparent;

        @include media-breakpoint-up(md) {
            padding-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &__description {
        margin-top: 16px;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }

    &__attributes {
        margin: -5px 0;
    }

    &__under_constraction {
        text-align: center;
    }
}

.produt-page-image {
    max-width: 522px;
    margin: auto;

}
