.auth {
    border-radius: $radius;
    box-shadow: $shadows-primary;
    background: $color-ui;
    font-size: 14px;
    font-weight: 400;
    color: $color-text-secondary;
    margin-bottom: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    .title_h1 {
        margin-bottom: 24px;
    }
    .title-label {
        text-align: center;
    }
    &-social {
        &-vk, &-ok, &-facebook, &-google {
            display: block;
            padding: 5px 25px;
            font-size: 14px;
            color: #fff;
            border-radius: $radius;
            &:hover {
                color: #fff;
                text-decoration: none;
                opacity: 0.9;
            }
            span {
                display: block;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-right: 10px;
                border-right: 1px solid #fff;
            }
            .symbol-icon {
                fill: #fff;
            }

            &.disabled {
                filter: grayscale(100%);
                opacity: .2;
                cursor: not-allowed;
            }
            &.cricle {
                display: inline-block;
                padding: 20px;
                border-radius: 50%;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        &-vk {
            background: #45668E;
        }
        &-ok {
            background: #F69445;
        }
        &-facebook {
            background: #4267b2;
        }
        &-google {
            background: #EA4335;
        }
    }
    &-avatar {
        display: block;
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-right: 24px;
    }
    &-name {
        color: $color-text-primary;
    }
    &-form {
        .button.login {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
    &-border-bottom {
        border-bottom: 1px solid $color-border;
        &+& {
            border-left: 1px solid $color-border;
        }
    }
}
