.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: .3s;
    padding: 10px 30px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &-light {
        border: 1px solid $color-border;
        color: $color-text-primary;
    }
}
