.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: $transition-primary;
    padding: 10px 35px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    &-light {
        border: 1px solid $color-border;
        color: $color-text-primary;
        background-color: $color-ui;
        .symbol-icon {
            fill: $color-text-primary;
        }
        &:not(:disabled):hover {
            border: 1px solid $color-primary;
            background: $color-primary;
            color: $color-ui;
            .symbol-icon {
                fill: $color-ui;
            }
        }
        &:disabled {
            color: $color-text-primary-3;
            border-color: $color-border-3;
            background-color: $color-background;
        }
    }
    &-primary {
        border: 1px solid $color-primary;
        color: $color-ui;
        background: $color-primary;
        &:hover {
            box-shadow: $shadows-primary;
            color: $color-ui;
        }
    }
    &-dark {
        border: 1px solid $color-text-primary;
        color: $color-ui;
        background: $color-text-primary;
        &:hover {
            box-shadow: $shadows-primary;
        }
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.input-group {
    display: inline-flex;
    &-append {
        .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
    &-prepend {
        .button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }
    }
    input {
        border: 1px solid $color-border;
        text-align: center;
    }
}
