
.symbol-icon {
    display: block;
    fill: $color-icons;
    transition: $transition-primary;
    &:hover {
        fill: $color-text-primary;
    }
}

.symbol-logo {
    width: 144px;
    height: 31px;
    vertical-align: bottom;

    @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
    }
}

.symbol-logo--header {
    width: 90px;
    height: 37px;

    @include media-breakpoint-up(lg) {
        width: 110px;
        height: 44px;
    }
}

.product-rating {
    width: 120px;
    height: 29px;
    fill: $color-ui;
}




.symbol-keyboard-down {
    width: 24px;
    height: 24px;
}

.symbol-remove {
    width: 24px;
    height: 24px;
}
.symbol-add {
    width: 24px;
    height: 24px;
}
.symbol-close {
    width: 24px;
    height: 24px;
}
.symbol-arrow-forward {
    width: 24px;
    height: 24px;
}
.symbol-arrow-back {
    width: 24px;
    height: 24px;
}
.symbol-wishlist {
    width: 24px;
    height: 24px;
}
.symbol-heart {
    width: 24px;
    height: 24px;
}
.symbol-menu {
    width: 24px;
    height: 24px;
}
.symbol-search {
    width: 24px;
    height: 24px;
}
.symbol-location {
    width: 24px;
    height: 24px;
}
.symbol-person {
    width: 24px;
    height: 24px;
}
.symbol-cart {
    width: 24px;
    height: 24px;
}
.pay-visa {
    width: 55px;
    height: 18px;
}

.pay-maestro {
    width: 34px;
    height: 26px;
}

.pay-mastercard {
    width: 34px;
    height: 26px;
}

.pay-paypal {
    width: 98px;
    height: 26px;
}

.pay-yandex {
    width: 96px;
    height: 26px;
}

.social-embed-google {
    width: 24px;
    height: 24px;
}
.social-embed-fb {
    width: 24px;
    height: 24px;
}
.social-embed-ok {
    width: 24px;
    height: 24px;
}
.social-embed-vk {
    width: 24px;
    height: 24px;
}
