.header {
    background: $color-ui;
    box-shadow: $shadows-primary;
    @include media-breakpoint-down(md) {
        position: fixed;
        width: 100%;
        top: 0.2em;
        z-index: 99999;
    }
    &__title {
        padding-top: 35px;
    }
    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        @include media-breakpoint-down(md) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .phone {
        font-size: 16px;
        color: $color-text-primary;
        display: inline-block;
        small {
            color: $color-text-secondary;
            font-size: 12px;
            margin-left: 8px;
        }
    }
    &-float {
        overflow: visible;
        @include media-breakpoint-down(md) {
            margin-left: -15px;
            margin-right: -15px;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            height: 70px;
            box-sizing: border-box;
            @include media-breakpoint-down(md) {
                height: 55px;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            &:nth-child(1) {
                float: left;
            }
            &:nth-child(2) {
                float: right;
            }
            &:nth-child(3) {
                float: right;
            }
            &:nth-child(4) {
                float: right;
                @include media-breakpoint-down(xs) {
                    display: none;
                }
            }
            &:nth-child(5) {
                float: left;
                @include media-breakpoint-down(md) {
                    padding-left: 15px;
                }
            }
            &:nth-child(6) {
                margin-left: calc(110px + 68px);
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }
    .dropdown {
        &-menu {
            border: 0px solid $color-ui;
            filter: drop-shadow(0px 0px 8px $color-shadow);
            padding: 0;
            margin: 0;
            border-radius: $border-radius;
            min-width: 224px;
            &:after {
                content:"\A";
                border-style: solid;
                border-width: 0 8px 8px 8px;
                border-color: transparent transparent $color-ui transparent;
                position: absolute;
                right: 23px;
                top: -8px;
            }

            &--ht {
                background: transparent;

                &:after {
                    top: 1px;
                }
            }
        }

        &-item {
            padding: 16px 35px;
            &:focus {
                background-color: $color-border;
                color: $color-text-primary;
            }
            &.gray {
                color: $color-text-secondary;
            }
        }
        &-item + .dropdown-item {
            border-top: 1px solid $color-border;
        }
    }
    .mobile {
        &-catalog {
            display: none;
            color: $color-primary;
            padding: 15px 15px;
            border-right: 1px solid $color-border;
            .symbol-menu {
                fill: $color-primary;
            }
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
    &-mobile-fix {
        display: none;
        height: 55px;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    .location {
        display: block;
        position: relative;
        padding: 15px 0 15px 15px;
        transition: $transition-primary;
        color: $color-text-primary;
        line-height: 1.4;
        width: 215px;
        .symbol-location {
            transition: $transition-primary;
            fill: $color-icons;
        }
        @include media-breakpoint-down(md) {
            border-left: 1px solid $color-border;
            width: 55px;
        }
        &-icon {
            margin-right: 8px;
        }
        &-name {
            font-size: 14px;
        }
        &-phone {
            font-size: 12px;
            color: $color-text-secondary;
        }
        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }
        .symbol-keyboard-down {
            margin-left: 8px;
        }
    }

    .search {
        display: block;
        padding: 15px 15px;
        color: $color-text-primary;
        line-height: 1.4;
        .symbol-person {
            transition: $transition-primary;
            fill: $color-icons;
        }
        @include media-breakpoint-down(md) {
            border-left: 1px solid $color-border;
        }
        &-icon {
            margin-right: 8px;
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }
        &-name {
            font-size: 14px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }
        .symbol-keyboard-down {
            margin-left: 8px;
        }
    }

    .profile {
        display: block;
        padding: 15px 15px;
        color: $color-text-primary;
        line-height: 1.4;
        .symbol-person {
            transition: $transition-primary;
            fill: $color-icons;
        }
        @include media-breakpoint-down(md) {
            border-left: 1px solid $color-border;
        }
        &-icon {
            margin-right: 8px;
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }
        &-name {
            font-size: 14px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }
        .symbol-keyboard-down {
            margin-left: 8px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
    .cart-btn {
        display: block;
        position: relative;
        padding: 15px 0 15px 15px;
        transition: $transition-primary;
        color: $color-text-primary;
        line-height: 1.4;

        .symbol-cart {
            transition: $transition-primary;
            fill: $color-icons;
        }

        @include media-breakpoint-down(md) {
            border-left: 1px solid $color-border;
            width: 55px;
        }

        &-icon {
            margin-right: 8px;
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }

        &-name {
            font-size: 14px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &-result {
            font-size: 12px;
            color: $color-text-secondary;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }

        .symbol-keyboard-down {
            margin-left: 8px;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .badge {
            position: absolute;
            left: 28px;
            top: 15px;
            background: #FF9001;
            color: $color-ui;
            font-size: 10px;
            font-weight: 400;
            padding: 3px 0 2px;
            border-radius: 50%;
            text-align: center;
            width: 15px;

            @include media-breakpoint-down(md) {
                top: 11px;
            }
        }

        &--with-products .badge {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}
.logo {
    display: block;
    color: $color-text-primary;
    max-width: 133px;
    @include media-breakpoint-down(md) {
        max-width: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover {
        text-decoration: none;
        color: $color-text-primary;
    }
    &__description {
        font-size: 16px;
    }
}
.logout {
    color: $color-danger;
}
