.header-navigation {
    background: $color-ui;
    border-top: 1px solid $color-border;
    box-shadow: $shadows-primary;
    height: 55px;
    overflow: visible;
    @include media-breakpoint-down(md) {
        display: none;
    }
    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        &__item {
            display: inline-block;
            a {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 16px;
                padding-right: 16px;
                display: inline-block;
                color: $color-text-primary;
                font-size: 14px;
                font-weight: 400;
                @include media-breakpoint-down(lg) {
                    padding-left: 25px;
                }
                &:hover {
                    color: $color-text-primary-2;
                    text-decoration: none;
                }
            }
        }
        .header-navigation-catalog {
            a {
                color: $color-primary;
                background: $color-ui;
                font-weight: 400;
                border-right: 1px solid $color-border;
                padding-right: 32px;
                padding-left: 0;
                margin-right: 16px;
                .md-icon {
                    margin-right: 8px;
                }
                &:hover {

                }
            }
        }
        &-discount {
            a {
                color: $color-secondary;
                &:hover {
                    color: $color-secondary-2;
                }
            }
        }
    }
}
