.header {
    display: flex;
    flex-direction: column;
    height: 56px;

    @include media-breakpoint-up(lg) {
        height: 70px;
    }

    &__fixer {
        flex: 1 0 auto;
    }

    &__fixed {
        width: 100%;
        background: $color-ui;

        @include media-breakpoint-down(md) {
            box-shadow: $shadows-primary;
        }
    }

    &.fixed {
        z-index: 11;
        position: relative;
    }

    &.fixed &__fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: $shadows-primary;
        transition: transform .3s;

        &.from-top {
            transform: translate3d(0, -100%, 0);
            transition: transform 0s;
        }
    }

    &__title {
        padding-top: 35px;
    }

    .mobile-catalog-btn,
    .location,
    .cart-btn,
    .profile,
    .cart-btn {
        margin-left: 0;
        padding: 15px;
        min-width: 55px;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        line-height: 1.4;
        color: $color-text-primary;
        overflow: hidden;
    }

    .phone {
        font-size: 16px;
        color: $color-text-primary;
        display: inline-block;

        small {
            color: $color-text-secondary;
            font-size: 12px;
            margin-left: 8px;
        }
    }

    &-float {
        overflow: visible;
        display: flex;
        margin: 0 -16px;

        height: 56px;

        @include media-breakpoint-up(lg) {
            height: 70px;
        }

        @include media-breakpoint-up(sm) {
            border-left: 1px solid $color-border;
            border-right: 1px solid $color-border;
            margin: 0;
        }

        @include media-breakpoint-up(lg) {
            border: none;
            margin: 0 -16px;
        }

        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            height: 100%;
            box-sizing: border-box;

            @include media-breakpoint-down(md) {
                &:not(:first-child) {
                    border-left: 1px solid $color-border;
                }
            }

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }

            &--logo {
                width: auto;
                padding-left: 16px;

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }

            &--menu {
                display: none;

                @include media-breakpoint-down(md) {
                    display: block;
                }
            }

            &--search {
                width: 100%;
                flex: 1;
                display: none;

                @include media-breakpoint-up(lg) {
                    display: flex;
                }
            }

            &--city {
                padding-left: 68px;

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }

    .mobile-catalog-btn {
        display: block;
        color: $color-primary;

        .symbol-menu {
            fill: $color-primary;
        }
    }

    .location {
        position: relative;
        transition: $transition-primary;

        .symbol-location {
            transition: $transition-primary;
            fill: $color-icons;
        }
        @include media-breakpoint-down(md) {
            width: 55px;
        }
        &-icon {
            margin-right: 8px;
        }
        &-name {
            padding-top: 1px;
            font-size: 14px / 17px;
        }
        &-phone {
            font-size: 12px / 14px;
            margin-top: 2px;
            color: $color-text-secondary;
        }
        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }
        .symbol-keyboard-down {
            margin-left: 8px;
        }
    }

    .profile {
        .symbol-person {
            transition: $transition-primary;
            fill: $color-icons;
        }
        &-icon {
            margin-right: 8px;
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }
        &-name {
            font-size: 14px / 17px;
            padding-top: 1px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }
        .symbol-keyboard-down {
            margin-left: 8px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .cart-btn {
        position: relative;
        transition: $transition-primary;

        .symbol-cart {
            transition: $transition-primary;
            fill: $color-icons;
        }

        @include media-breakpoint-down(md) {
            width: 55px;
        }

        &-icon {
            margin-right: 8px;
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }

        &-name {
            font-size: 14px / 17px;
            padding-top: 1px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &-result {
            font-size: 12px / 14px;
            color: $color-text-secondary;
            margin-top: 2px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &:hover {
            color: $color-text-primary-2;
            .symbol-keyboard-down {
                fill: $color-text-primary;
            }
        }

        .symbol-keyboard-down {
            margin-left: 8px;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .badge {
            position: absolute;
            left: 28px;
            top: 15px;
            background: #FF9001;
            color: $color-ui;
            font-size: 10px / 1;
            font-weight: 400;
            padding: 3px 0 2px;
            border-radius: 50%;
            text-align: center;
            width: 15px;

            @include media-breakpoint-down(md) {
                top: 11px;
            }
        }

        &--with-products .badge {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}

.logout {
    color: $color-danger;
}

.search-input {
    display: block;
    position: relative;
    width: 100%;
    z-index: 7;
    border-radius: $border-radius;
    border: 1px solid $color-border;


    &__loading,
    &__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    &__button {
        cursor: pointer;
    }

    &__loading {
        right: 44px;
        padding: 0 8px;
    }

    &__loading-icon {
        fill: $color-primary;
        width: 100%;
    }

    &__button:hover &__icon {
        fill: $color-text-primary;
    }

    &__result {
        position: absolute;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        border: 1px solid $color-border;
        border-top: none;
        border-radius: 0 0 $border-radius $border-radius;
        background-color: $color-ui;
        display: none;
    }

    &__input {
        border: none;
        padding-right: 88px;
        transition: none;
    }

    &.is-opened {
        border-radius: $border-radius $border-radius 0 0;
        border-bottom: none;
    }

    &.is-opened &__result {
        display: block;
    }

    &__link {
        display: block;
        padding: 8px 16px;

        &:hover {
            background-color: #FAFBFC;
        }
    }

    &--spm {
        border: none;
    }

    &--spm &__input {
        height: 56px;
    }
}
