.header {
    background: $color-ui;
    padding-top: 10px;
    padding-bottom: 10px;
    &__title {
        padding-top: 35px;
    }
}
.logo {
    display: block;
    color: $color-text-primary;
    max-width: 150px;
    &:hover {
        text-decoration: none;
        color: $color-text-primary;
    }
    &__image {
        width: 100%;
        height: auto;
        display: block;
    }
    &__description {
        font-size: 16px;
    }
}
