.nav {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $color_border;
    border-bottom: 1px solid $color_border;
    box-shadow: 0 3px 3px $color_border;
}
