.shop-breadcrumb {
    padding: 24px 0 16px;
    margin: 0;
    list-style: none;
    @include media-breakpoint-down(md) {
        display: none;
    }
    &-item {
        display: inline-block;
        color: $color-text-primary-2;
        a {
            display: inline-block;
            color: $color-text-secondary-1;
        }
        .symbol-icon {
            transform: rotate(-90deg);
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
