.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}


.fade-up-enter-active, .fade-up-leave-active {
    transition: all .5s;
}

.fade-up-enter, .fade-up-leave-active {
    opacity: 0;
}

.fade-up-enter {
    transform: translate3d(0, -50px, 0);
    z-index: 2;
}

.fade-up-leave-active {
    transform: translate3d(0, 50px, 0);
    z-index: 1;
}



@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(.17,.67,.83,.67);
        transform: translate3d(0, -15px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(.17,.67,.83,.67);
        transform: translate3d(0, -7.5px, 0);
    }

    90% {
        transform: translate3d(0, -2px, 0);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
}


.slide-forward-enter-active,
.slide-forward-leave-active,
.slide-back-enter-active,
.slide-back-leave-active{
    transition: transform .4s;
}

.slide-forward-leave,
.slide-forward-enter {
    transform: translate3d(0, 0, 0);
}

.slide-forward-leave-to,
.slide-forward-enter-to  {
    transform: translate3d(-100%, 0, 0);
}


.slide-back-enter {
    transform: translate3d(-200%, 0, 0);
}

.slide-back-enter-to {
    transform: translate3d(-100%, 0, 0);
}

.slide-back-leave-to {
    transform: translate3d(100%, 0, 0);
}


.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}
