
// Body
$body-bg: #FAFBFC;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//Colors
$color_text_primary: rgba(50,63,76,1);

$color_border: #ECEDF3;
