.banner {
    background: $color-primary;
    background: -moz-linear-gradient(45deg, $color-primary 0%, $color-primary-2 100%);
    background: -webkit-linear-gradient(45deg, $color-primary 0%,$color-primary-2 100%);
    background: linear-gradient(45deg, $color-primary 0%,$color-primary-2 100%);
    width: 100%;
    padding: 24px;
    border-radius: $border-radius;
    box-shadow: $shadows-primary;
    height: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    &__image-box {
        position: relative;
        width: calc(100% + 48px);
        max-height: 250px;
        margin-left: -24px;
        margin-right: -24px;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
            transition: $transition-primary;
            position: relative;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__title {
        font-size: 16px / 24px;
        height: 48px;
        overflow: hidden;
        color: $color-ui;
        text-align: center;
        margin-bottom: 25px;
    }

    &--new {
        background: #aabed6;
        background: -moz-linear-gradient(45deg, #aabed6 0%, #bce3f0 100%);
        background: -webkit-linear-gradient(45deg, #aabed6 0%,#bce3f0 100%);
        background: linear-gradient(45deg, #aabed6 0%,#bce3f0 100%);
    }

    &--new &__image {
        background-position: center left;
    }


    &--long {
        min-height: auto;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    &--long &__image-box {
        width: 190px;
        max-height: none;
        margin: 0;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -95px;
    }

    &--long &__bottom {
        width: calc(100% - 190px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
    }

    &--long &__title {
        width: calc(100% - 216px);
        margin-bottom: 0;
        text-align: left;
        height: auto;
        max-height: 48px;
        overflow: hidden;
        padding-right: 32px;
    }

    &--long &__button {
        width: 216px;
    }

    &--long &__image {
        background-size: contain;
    }
}



