.banner {
    width: 100%;
    padding: 45px 24px 24px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    height: 490px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
    }

    &__accent-box {
        position: relative;
        width: 100%;
        max-width: 298px;
        max-height: 250px;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
            transition: .3s;
            position: relative;
        }
    }

    &__image,
    &__title {
        position: absolute;
        top: 24px;
        left: 24px;
        bottom: 24px;
        right: 24px;
        margin: auto;
    }

    &__image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 100%;
    }

    &__title {
        font-size: 24px / 1.25em;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--medium &__title {
        &--1,
        &--2,
        &--3,
        &--4 {
            font-size: 80px;
        }

        &--5 {
            font-size: 60px;
        }

        &--6 {
            font-size: 42px;
        }

        &--7 {
            font-size: 36px;
        }

        &--8 {
            font-size: 30px;
        }
    }

    &--big &__title {
        font-size: 36px;

        &--1,
        &--2,
        &--3,
        &--4,
        &--5 {
            font-size: 80px;
        }

        &--6 {
            font-size: 60px;
        }

        &--7 {
            font-size: 52px;
        }

        &--8 {
            font-size: 42px;
        }
    }

    &--long &__title {
        &--1,
        &--2,
        &--3,
        &--4 {
            font-size: 60px;
        }

        &--5 {
            font-size: 52px;
        }

        &--6 {
            font-size: 42px;
        }

        &--7 {
            font-size: 32px;
        }
    }

    &__caption {
        font-size: 16px / 24px;
        height: 48px;
        overflow: hidden;
        color: #fff;
        text-align: center;
    }

    &__button {
        text-align: center;
        max-width: 216px;
        width: 100%;
        margin: 24px auto 0;
    }

    @include media-breakpoint-up(sm) {
        &--long {
            padding: 24px;
            min-height: auto;
            height: auto;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
        }
        //
        &--long &__title {
            position: absolute 16px;
        }

        &--long &__accent-box {
            width: 190px;
            max-height: none;
            margin: 0;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -95px;
        }

        &--long &__bottom {
            width: calc(100% - 190px);
            height: 100%;
            flex-direction: column;
        }

        &--long &__image {
            background-size: contain;
        }

        &--long &__caption {
            height: auto;
            max-height: 48px;
            overflow: hidden;
        }
    }

    @include media-breakpoint-up(md) {
        &--long &__bottom {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center
        }

        &--long &__button {
            margin-top: 0;
        }

        &--long &__caption {
            width: calc(100% - 216px);
            margin-bottom: 0;
            text-align: left;
            padding-right: 32px;
        }
    }
}


.banner-slider {
    position: relative;

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        z-index: 2;
    }

    &__prev {
        left: -16px;
    }

    &__next {
        right: -16px;
    }

    &__slider {
        padding: 16px 0;
        margin: -16px 0;
    }

    &__slider.overflow {
        overflow: hidden;
    }

    & .slick-list{
        margin: -8px;
    }

    &__slide {
        padding: 8px;
    }

    @include media-breakpoint-up(lg) {
        & .slick-list{
            margin: -16px;
        }

        &__slide {
            padding: 16px;
        }
    }
}
