.content-w-menu {
    &__menu {
        padding: 64px 40px 64px 24px;
        text-align: right;
        position: sticky;
        top: 56px;
        border-right: 1px solid $color-border;
        margin-right: -1px;
    }

    &__content {
        padding: 16px 0;

        @include media-breakpoint-up(lg) {
            border-left: 1px solid $color-border;
        }
    }

    &__item {
        padding: 24px 16px;

        @include media-breakpoint-up(md) {
            padding: 48px;
        }
    }

    &__item + &__item {
        border-top: 1px solid $color-border;
    }
}
