.filter-desc--20 {
    margin: -5px 0 0 -5px;
}

.filter-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: relative;
    padding: 24px 16px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &.is-active &__icon {
        transform: rotate(180deg);
    }

    &__name {
        font-size: 14px / 17px;
        color: $color-text-primary;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.filter-desc {
    padding: 0 16px 24px;
}

.prices-slider {
    position: relative;

    &__group {
        margin-top: 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        width: 50%;
        font-size: 14px;
        color: $color-text-primary;
        line-height: normal;
        padding: 6px 5px;
        text-align: center;
        border: 1px solid $color-border;
        border-radius: 3px;
    }

    &__separator {
        margin: 0 5px;
    }

    &__tube {
        position: absolute;
        height: 5px;
        top: 7.5px;
        left: 22.5px;
        right: 22.5px;
        z-index: 1;
        overflow: hidden;
        border-radius: 15px;
    }

    &__available-process {
        background-color: $color-primary;
        position: absolute;
        height: 100%;
        top: 0;
        transform: translate3d(0,0,0);
        z-index: 1;
    }

    &__empty {
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        height: 100%;
        top: 0;
        transform: translate3d(0,0,0);
        z-index: 2;
    }
}

.filter-more {
    margin-top: 8px;
}

.filter-more-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: $color-text-secondary;
    cursor: pointer;

    &__label {
        color: currentColor;
        border-bottom: 1px dashed transparent;
        transition: all .3s;
    }

    &__icon {
        margin: 0 11px 0 0;
        width: 24px;
        height: 24px;
        fill: $color-icons;
        transition: all .3s;
    }

    &__label + &__icon {
        margin: 0 0 0 11px;
    }

    &.is-active &__icon {
        transform: rotateZ(45deg);
    }

    &:hover &__label {
        border-bottom-color: currentColor;
    }
}

.filter-option {
    &:not(:first-child) {
        margin-top: 8px;
    }

    &__count {
        float: right;
        margin-left: 16px;
        color: $color-text-secondary;
        font-size: 12px;
        width: 32px;
        text-align: right;
        transition: color .3s;

        &--hidden {
            visibility: hidden;
        }
    }

    input:checked ~ span &__count,
    &:hover &__count {
        color: $color-primary;
    }
}



.filter-desc--20 .filter-option {
    display: inline-flex;
    margin: 0;
    padding: 5px 0 0 5px;
    width: 14.285714285714286%;
    max-width: 32px;

    & .form-checkbox__checkmark {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-top: 0;
        display: block;
        height: 100%;
        top: 0;

        &::before {
            content: '';
            padding-top: 100%;
            display: block;
            z-index: 1;
        }
    }

    & .form-checkbox__label {
        display: none;
    }

    &:hover input ~ .form-checkbox__checkmark {
        border-color: $color-primary;
    }
}


.filter-option--93 .form-checkbox__checkmark::before {
    background-color: #987654;
}

.filter-option--95 .form-checkbox__checkmark::before {
    background-color: #403a3a;
}

.filter-option--112 .form-checkbox__checkmark::before {
    background-color: #808080;
}

.filter-option--113 .form-checkbox__checkmark::before {
    background-color: #e6e39f;
}

.filter-option--116 .form-checkbox__checkmark::before {
    background-color: #000000;
}

.filter-option--117 .form-checkbox__checkmark::before {
    background-color: #cd7f32;
}

.filter-option--121 .form-checkbox__checkmark::before {
    background-color: #b7b7b7;
    background: -moz-linear-gradient(45deg, #b7b7b7 0%, #f7f7f7 51%, #b7b7b7 100%);
    background: -webkit-linear-gradient(45deg, #b7b7b7 0%,#f7f7f7 51%,#b7b7b7 100%);
    background: linear-gradient(45deg, #b7b7b7 0%,#f7f7f7 51%,#b7b7b7 100%);
}

.filter-option--129 .form-checkbox__checkmark::before {
    background-color: #787563;
    background: -moz-linear-gradient(45deg, #787563 0%, #d7d0c2 50%, #787563 100%);
    background: -webkit-linear-gradient(45deg, #787563 0%,#d7d0c2 50%,#787563 100%);
    background: linear-gradient(45deg, #787563 0%,#d7d0c2 50%,#787563 100%);
}

.filter-option--131 .form-checkbox__checkmark::before {
    background-color: #5a2905;
    background: -moz-linear-gradient(45deg, #5a2905 0%, #fcdbc5 50%, #5a2905 100%);
    background: -webkit-linear-gradient(45deg, #5a2905 0%,#fcdbc5 50%,#5a2905 100%);
    background: linear-gradient(45deg, #5a2905 0%,#fcdbc5 50%,#5a2905 100%);
}

.filter-option--132 .form-checkbox__checkmark::before {
    background-color: #d4af37;
    background: -moz-linear-gradient(45deg, #d4af37 0%, #fcda01 50%, #d4af37 100%);
    background: -webkit-linear-gradient(45deg, #d4af37 0%,#fcda01 50%,#d4af37 100%);
    background: linear-gradient(45deg, #d4af37 0%,#fcda01 50%,#d4af37 100%);
}

.filter-option--134 .form-checkbox__checkmark::before {
    background-color: #f5f5dc;
}

.filter-option--135 .form-checkbox__checkmark::before {
    background-color: #964b00;
}

.filter-option--143 .form-checkbox__checkmark::before {
    background-color: #008000;
}

.filter-option--144 .form-checkbox__checkmark::before {
    background-color: #ffff00;
}

.filter-option--147 .form-checkbox__checkmark::before {
    background-color: #654321;
}

.filter-option--148 .form-checkbox__checkmark::before {
    background-color: #49423d;
}

.filter-option--153 .form-checkbox__checkmark::before {
    background-color: #808000;
}

.filter-option--154 .form-checkbox__checkmark::before {
    background-color: #0000ff;
}

.filter-option--155 .form-checkbox__checkmark::before {
    background-color: #492d19;
    background: -moz-linear-gradient(45deg, #492d19 0%, #9a5429 50%, #b66639 100%);
    background: -webkit-linear-gradient(45deg, #492d19 0%,#9a5429 50%,#b66639 100%);
    background: linear-gradient(45deg, #492d19 0%,#9a5429 50%,#b66639 100%);
}

.filter-option--156 .form-checkbox__checkmark::before {
    background-color: #876c3d;
    background: -moz-linear-gradient(45deg, #876c3d 0%, #f0e3a5 50%, #876c3d 100%);
    background: -webkit-linear-gradient(45deg, #876c3d 0%,#f0e3a5 50%,#876c3d 100%);
    background: linear-gradient(45deg, #876c3d 0%,#f0e3a5 50%,#876c3d 100%);
}

.filter-option--157 .form-checkbox__checkmark::before {
    background-color: #787975;
    background: -moz-linear-gradient(45deg, #787975 0%, #e9e9e7 50%, #787975 100%);
    background: -webkit-linear-gradient(45deg, #787975 0%,#e9e9e7 50%,#787975 100%);
    background: linear-gradient(45deg, #787975 0%,#e9e9e7 50%,#787975 100%);
}

.filter-option--168 .form-checkbox__checkmark::before {
    background-color: #120a8f;
}

.filter-option--171 .form-checkbox__checkmark::before {
    background-color: #ffc0cb;
}

.filter-option--175 .form-checkbox__checkmark::before {
    background-color: #42aaff;
}

.filter-option--177 .form-checkbox__checkmark::before {
    background-color: #d77d31;
}

.filter-option--178 .form-checkbox__checkmark::before {
    background-color: #ff0000;
}

.filter-option--179 .form-checkbox__checkmark::before {
    background-color: #30d5c8;
}

.filter-option--181 .form-checkbox__checkmark::before {
    background-color: #8b00ff;
}

.filter-option--182 .form-checkbox__checkmark::before {
    background-color: #ffe5b4;
}

.filter-option--190 .form-checkbox__checkmark::before {
    background-color: #008080;
}

.filter-option--192 .form-checkbox__checkmark::before {
    background-color: #99ff99;
}

.filter-option--198 .form-checkbox__checkmark::before {
    background-image: url("/assets/images/filters/colors/multicolor.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
