.ht-container {
    max-height: 0;
    display: block !important;
    overflow: hidden;
    transition: all .3s;
    transform: translate3d(0, 0, 0);
}

.ht-inner {
    z-index: 5;
}

.ht-container--popup {
    z-index: 99;
    margin: -8px;

    & .ht-inner {
        margin: 8px;
        background-color: $color-ui;
        overflow: hidden;
    }
}
