.bg-image-loader {
    opacity: 0;
    background-position: center center;
    background-size: contain;
}

.bg-image-loader.loaded {
    opacity: 1;
}

.bg-image-loader.animate {
    transition: opacity .772s;
    transform: translate3d(0, 0 ,0);
    overflow: hidden;
}


.image-loader{
    opacity: 0;
}

.image-loader.loaded {
    opacity: 1;
}

.image-loader.animate {
    transition: opacity .772s;
    transform: translate3d(0, 0 ,0);
    overflow: hidden;
}
