.label-value-table {
    &__item {
        font-size: 14px / 17px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    &__label {
        color: $color-text-secondary;
        padding-right: 20px;
    }

    &__value {
        margin-top: 8px;
        color: $color-text-primary;

        &--italic {
            color: $color-text-secondary;
            font-style: italic;

            &::before {
                content: "«";
            }

            &::after {
                content: "»";
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
            display: flex;
            flex-wrap: wrap;
        }

        &__label {
            width: 225px;
        }

        &__value {
            width: calc(100% - 225px);
            margin-top: 0;
        }
    }
}
