.product-list {
    @include media-breakpoint-down(md) {
        &__row {
            margin: 0;
        }

        &__product {
            width: calc(100vw - 32px) !important;
            max-width: 280px;
            padding-right: 16px;
        }

        & .slick-list {
            padding: 8px 0 8px 8px;
            margin: -8px 0 -8px -8px;
        }

        & .slick-dots {
            position: static;
            margin-top: 24px;
        }
    }

    @include media-breakpoint-down(xs) {
        & .slick-list {
            padding: 16px !important;
            margin: -16px;
        }

        &__product {
            padding: 0px 8px;
        }
    }
}
