.promo-form {
    width: 420px;
    max-width: 100%;
    margin: auto;

    &__label {
        font-size: 14px / 17px;
        margin-bottom: 8px;
        color: $color-text-secondary;
    }
}


.promo-input {
    display: flex;
    max-width: 375px;

    &__group {
        border-right-color: transparent;
        border-radius: $border-radius 0 0 $border-radius;
        position: relative;
        z-index: 1;
    }

    &__input {
        width: 250px;
        text-overflow: ellipsis;
    }

    &__side {
        position: relative;
        overflow: hidden;
        margin-left: -1px;
        width: calc(100% - 250px);
    }

    &__success {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-success;
    }

    &__submit {
        padding: 12px 4px;
        width: 100%;
        border-radius: 0 $border-radius $border-radius 0;
    }

    &__success-icon {
        width: 24px;
        height: 24px;
        fill: #fff;
    }
}


.promo-info {
    border-radius: $border-radius;
    background-color: #FAFBFC;
    padding: 24px;
    font-size: 14px / 17px;

    &__status {
        &--success {
            color: $color-success;
        }

        &--error {
            color: $color-danger;
        }
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 500;
        color: $color-text-primary;
    }
}


.promo-links {
    &__link {
        white-space: nowrap;

        & .link {
            line-height: 24px;
            display: inline-block;
        }
    }
}
