.rating {
    display: flex;
    align-items: center;
    font-size: 12px / 14px;

    &__stars {
        position: relative;
        margin-right: 8px;
        overflow: hidden;
        background-color: #D8D8D8;
    }

    &__icon {
        position: relative;
        z-index: 2;
        width: 80px;
        height: 19px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/images/icons/stars/80.png');
        margin: -1px 0;
        transform: translate3d(0,0,0);
    }

    &__percent {
        background-color: $color-primary;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        transform: translate3d(0, 0, 0);
    }

    &__reviews-num {
        padding-top: 1px;
    }

    &--sm &__icon {
        width: 56px;
        height: 14px;
        background-image: url('/assets/images/icons/stars/56.png');
    }

    &--lg {
        font-size: 14px / 17px;
    }

    &--lg &__stars {
        margin-right: 16px;
    }

    &--lg &__icon {
        width: 120px;
        height: 28px;
        background-image: url('/assets/images/icons/stars/120.png');
    }

    @include media-breakpoint-up(xl) {
        &--reviews-statistics {
            font-size: 14px / 17px;
        }

        &--reviews-statistics &__stars {
            margin-right: 16px;
        }

        &--reviews-statistics &__icon {
            width: 120px;
            height: 28px;
            background-image: url('/assets/images/icons/stars/120.png');
        }
    }
}
