.rating {
    display: flex;
    align-items: center;
    font-size: 12px / 14px;

    &__stars {
        position: relative;
        overflow: hidden;
    }

    &__percent,
    &__icon {
        background-position: 0 center;
        background-size: 80px 18px;
        background-repeat: no-repeat;
    }

    &__icon {
        position: relative;
        width: 80px;
        height: 18px;
        z-index: 2;
        background-image: url('/assets/images/icons/stars/80.png');
    }

    &__percent {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        background-image: url('/assets/images/icons/stars/80--light.png');
    }

    &__reviews-num {
        padding-top: 1px;
        margin-left: 8px;
    }

    &--empty {
        visibility: hidden;
    }

    &--sm &__icon {
        width: 56px;
        height: 14px;
    }

    &--sm &__icon,
    &--sm &__percent {
        background-position: 0 center;
        background-size: 56px 14px;
        background-image: url('/assets/images/icons/stars/56.png');
    }

    &--sm &__percent {
        background-image: url('/assets/images/icons/stars/56--light.png');
    }

    &--lg {
        font-size: 14px / 17px;
    }

    &--lg &__reviews-num {
        margin-left: 16px;
    }

    &--lg &__icon {
        width: 120px;
        height: 28px;
    }

    &--lg &__icon,
    &--lg &__percent {
        background-position: 0 center;
        background-size: 120px 28px;
        background-image: url('/assets/images/icons/stars/120.png');
    }

    &--lg &__percent {
        background-image: url('/assets/images/icons/stars/120--light.png');
    }

    @include media-breakpoint-up(xl) {
        &--reviews-statistics {
            font-size: 14px / 17px;
        }

        &--reviews-statistics &__stars {
            margin-right: 16px;
        }

        &--reviews-statistics &__icon {
            width: 120px;
            height: 28px;
        }

        &--reviews-statistics &__icon,
        &--reviews-statistics &__percent {
            background-position: 0 center;
            background-size: 120px 28px;
            background-image: url('/assets/images/icons/stars/120.png');
        }

        &--reviews-statistics &__percent {
            background-image: url('/assets/images/icons/stars/120--light.png');
        }

    }
}
