.review-form {
    max-width: 950px;
    margin: auto;

    &__auto {
        margin-left: auto;
    }

    @include media-breakpoint-up(md) {
        .form-group {
            padding-left: 190px;
        }

        .form-label {
            float: left;
            margin-left: -190px;
            padding-top: 10px;
            color: $color-text-secondary;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 32px 0 48px;
    }

    &__title {
        margin-bottom: 36px;
    }

    &__info-wrap {
        max-width: 315px;
        margin: 16px auto 0;
        display: flex;
        align-items: center;
        height: 100%;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__info {
        color: $color-text-secondary;
    }
}


.rating-select {
    display: inline-block;
    vertical-align: bottom;
    position: relative;

    &__star {
        width: 24px;
        float: right;
        background-color: $color-icons;
        transform: translate3d(0, 0, 0);
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
            background-image: url('../images/icons/stars/star.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            z-index: 1;
        }
    }

    &__input {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
    }

    &__input:checked ~ &__star {
        background-color: $color-primary;
    }

    &:hover &__star {
        background-color: $color-icons;
    }

    &__star:hover,
    &__star:hover ~ &__star {
        background-color: $color-primary !important;
    }
}
