.reviews-pallete.no-reviews {
    padding-bottom: 80px;
}

.review-form {
    padding: 16px 16px 24px;

    @include media-breakpoint-up(md) {
        padding: 24px 24px 32px;
    }

    @include media-breakpoint-up(lg) {
        padding: 32px 24px 48px;
    }

    &__content {
        max-width: 950px;
        margin: auto;
    }

    &__title {
        margin-bottom: 36px;
    }

    &__info {
        color: $color-text-secondary;
        max-width: 620px;
        margin-bottom: 32px;
    }

    &__disadvantages {
        margin-top: 16px;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }
}


.rating-select {
    position: relative;

    &__star {
        width: 24px;
        float: right;
        background-color: $color-icons;
        transform: translate3d(0, 0, 0);
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
            background-image: url('../images/icons/stars/star.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            z-index: 1;
        }
    }

    &__input {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
    }

    &__input:checked ~ &__star {
        background-color: $color-primary;
    }

    &:hover &__star {
        background-color: $color-icons;
    }

    &__star:hover,
    &__star:hover ~ &__star {
        background-color: $color-primary !important;
    }
}

.review-invocation {
    position: relative;

    &__caption {
        position: absolute;
        top: 100%;
        margin-top: 21px;
        left: 158px;
        color: $color-text-secondary;
        white-space: nowrap;
    }

    &__arrow {
        width: 56px;
        height: 38px;
        vertical-align: bottom;
        fill: currentColor;
    }

    &__label {
        vertical-align: bottom;
        margin-left: 16px;
        position: relative;
        top: 9px;
    }
}

