.reviews-pallete {
    &__wrap {
        transition: height .3s;

        &.animation-in-process {
            overflow: hidden;
        }
    }

    &__content {
        width: calc(200% + 60px);
        margin-left: -30px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;

        @include media-breakpoint-up(md) {
            margin-top: 40px;
        }
    }

    &__item {
        width: 50%;
        height: 100%;
        padding-left: 30px;
        transition: none;
    }
}

.reviews-control-panel {
    //display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    flex-wrap: wrap;

    &__sort {
        margin-top: 16px;
    }

    &__button,
    &__sort {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: auto;
            margin-top: 0;
        }
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__right {
        justify-content: flex-end;
        display: none;

        @include media-breakpoint-up(md) {
            display: flex;
        }
    }

    &__num {
        margin-right: 16px;
        font-size: 14px / 17px;
        color: $color-text-secondary;

        @include media-breakpoint-up(lg) {
            margin-right: 24px;
            font-size: 24px / 30px;
        }
    }


}

.reviews-sort {
    &__label {
        white-space: nowrap;
        margin-bottom: 8px;
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}


.reviews-list {
    &__slider {
        .slick-list {
            margin: -16px;
        }

        .slick-slide {
            padding: 16px;
        }
    }

    &__pagination {
        margin-top: 24px;
        text-align: center;
        font-size: 16px / 20px;
        color: $color-text-secondary;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 54px;
    }

    &__prev {
        left: -12px;
    }

    &__next {
        right: -12px;
    }
}
