.social-group {
    padding-top: 48px;
    padding-bottom: 0;

    .title-h2 {
        max-width: 550px;
    }

    #vk_groups, iframe {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
        max-width: 340px !important;
        display: block !important;
    }
}

.social-widget {
    max-width: 100%;
    overflow: hidden;
}
