.tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;

    &__item {
        font-size: 14px / 17px;
        cursor: pointer;
        user-select: none;
        padding: 16px;
        color: $color-text-primary;
        transition: color .4s;
        width: 100%;
        text-align: left;
        font-weight: 500;

        &.is-active {
            color: $color-primary;
        }
    }

    &__line-tube {
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        overflow: hidden;
    }

    &__line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: $color-primary;
        transition: all .2s;
    }

    &--center {
        justify-content: center;
    }

    &--underline {
        border-bottom: 1px solid $color-border;
    }

    &--sm &__item {
        padding-top: 13px;
        padding-bottom: 11px;
    }

    &--large-padding {
        padding-left: 65px;
        padding-right: 65px;
    }

    @include media-breakpoint-up(md) {
        &__item {
            width: auto;
            padding: 24px 21px 23px;
        }

        &--sm &__item {
            padding: 13px 21px 11px;
        }

        &--xl &__item {
            padding: 37px 26px 36px;
        }

        &__line-tube {
            top: auto;
            bottom: 0;
            height: 2px;
            width: 100%;
        }

        &--underline &__line-tube {
            bottom: -1px;
        }

        &__line {
            bottom: 0;
            height: 100%;
            top: auto!important;
        }
    }
}


.tab-pane {
    position: absolute;
    left: -99999px;
    top: -99999px;
    opacity: 0;
    color: $color-text-primary;
    transition: .3s;

    &__head {
        font-size: 20px / 32px;
        padding: 16px;
        position: relative;
        cursor: pointer;
        user-select: none;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__head.is-active &__chevron {
        transform-origin: 50% 50%;
        transform: rotate(180deg);
    }

    &__chevron {
        position: absolute;
        right: 16px;
        width: 24px;
        height: 24px;
        top: 50%;
        margin-top: -12px;
        fill: $color-text-secondary;
        transition: transform .3s;
    }

    &__container {
        margin: 0;

        @include media-breakpoint-up(md) {
            transition: none;
            opacity: 1;
            visibility: visible;
            max-height: none !important;
        }

        @include media-breakpoint-up(md) {
            min-height: 400px;
        }
    }

    &__content {
        margin: 0;
        padding: 8px 16px 32px;
        background-color: transparent;

        @include media-breakpoint-up(md) {
            padding-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &.active {
        position: static;
    }

    &.show {
        opacity: 1;
    }

    @include media-breakpoint-down(md) {
        position: static;
        opacity: 1 !important;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    @include media-breakpoint-up(md) {
        &.block-ui {
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.tabs-content {
    &__tabs {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0;
        overflow: visible;

        &.block-ui {
            background-color: transparent;
            box-shadow: none;
        }
    }
}
