.video-frame {
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
    }

    & iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
